<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h3 align="center"> Task Table</h3> <hr><hr>
    <a href="{% url 'create_task_name' %}"><button type="button" class="btn btn-warning">Add task</button></a><br>
    {% if tasks %}
   <br><table align="center" class="table table-striped"">
        <thead class="thead-dark">
        <tr>
            <th>Task Title</th>
            <th>Description</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Comment</th>

        </tr>
    </thead>
        {% for task in tasks %}
          
        
        <tr>
            <td>{{task.task_title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.end_date}}</td>
            <td>{{task.status}}</td>
            <td><a href="{% url 'comment_name' %}"><button type="button" class="btn btn-primary">Comment</button></a></td> 
            
        </tr>
        {% endfor %}
        
    </table>
    {% else %}

    <h3>No Data Found</h3>

    {% endif %}
    </div>
    </div>

</body>
</html>