<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Task</title>
</head>
<body>
    <h1>Create Task Form</h1>
    <h1>Create Task Form</h1>
    <form method="POST">
    Task Title : <input type="text" name="task" placeholder="Enter Task">
    Description : <input type="text" name="description" placeholder="Enter TaDescription">
    End Date : <input type="text" name="date" placeholder="Type Date here">
    Status : <input type="radio" name="status"> Open
             <input type="radio" name="status"> Close
    </form>
</body>
</html>